* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}
body {
    background-color: black;
    color: white;
    padding: 2rem;
}
.card-skeleton {
    display: flex;
    width: 180px;
    height: 270px;
    padding: 0.5rem;
    /* border: 1px solid grey; */
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.card-skeleton .left-col {
    margin-right: 1rem;
}
.card-skeleton .right-col {
    flex: 1;
}
